<h1>Productos en Tiempo Real</h1>

<div id="productsContainer">
    <ul id="productList"></ul>
</div>

<input type="text" id="titleInput" placeholder="Título">
<input type="text" id="descriptionInput" placeholder="Descripción">
<input type="number" id="priceInput" placeholder="Precio">
<input type="number" id="stockInput" placeholder="Stock">
<button id="addProductButton">Agregar Producto</button>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtimeProducts.js"></script>